<div class="login-container">
  <mat-card class="login-up">
    <mat-card-header>
      <h2 style="margin: auto;" class="primary">Login</h2>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form">
        <mat-form-field class="login-full-width">
          <input matInput placeholder="User Name" [formControl]="usernameFormControl" [errorStateMatcher]="matcher">
          <mat-icon matPrefix color="primary">account_circle</mat-icon>
          <mat-error *ngIf="usernameFormControl.hasError('required')">
            User id is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="login-full-width">
          <input matInput placeholder="Password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher">
          <mat-icon matPrefix color="primary">visibility</mat-icon>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('minlength')">
            Password is minimum of length 6
          </mat-error>
        </mat-form-field>
        <button color="primary" mat-raised-button (click)="signIn()" >Login to system</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>