<mat-card class="row">
    <mat-card-header>
        <h3>Edit Branch: {{branchId.value}}</h3>
        <!-- <mat-divider></mat-divider> -->
      </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <div class="example-container">  
            <mat-form-field>
              <input matInput placeholder="Branch ID"  disabled [(ngModel)]="branchId.value">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="branch Name" [formControl]="branchName" required>
                <mat-error *ngIf="branchName.invalid">{{getErrorMessage('branchName')}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Status" [formControl]="status" required>
                <mat-option value="option">Active</mat-option>
                <mat-option value="option">Inactive</mat-option>
              </mat-select>
              <mat-error *ngIf="status.invalid">{{getErrorMessage('status')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="row">
            <div class="col-sm-6 offset-sm-8">
                <button mat-raised-button color="primary">Save</button>
                <button mat-raised-button>Clear</button>
            </div>
        </div>
      </mat-card-actions>
  </mat-card>
  