<div class="container-fluid login-container">
  <div class="row">
    <div class="col-10 offset-1">
      <mat-card style="padding:0">
        <mat-card-content>
          <div class="row">
            <div class="col-6">
              <div class="bg-style">
                <span>Complet Solution for Manager</span>
              </div>
            </div>
            <div class="col-6">
              <div class="login-form">
                <h2 style="margin: auto;" class="primary">Login</h2>
                <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
                  <mat-form-field class="login-full-width">
                    <input matInput placeholder="Email Id" formControlName="email">
                    <mat-icon matPrefix color="primary">account_circle</mat-icon>
                    <mat-error *ngFor="let validation of error.email">
                      <mat-error class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">{{validation.message}}
                      </mat-error>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="login-full-width">
                    <input matInput placeholder="Password" formControlName="PASSWORD" type="password">
                    <mat-icon matPrefix color="primary">visibility</mat-icon>
                    <mat-error *ngFor="let validation of error.PASSWORD">
                      <mat-error class="error-message" *ngIf="loginForm.get('PASSWORD').hasError(validation.type) && (loginForm.get('PASSWORD').dirty || loginForm.get('PASSWORD').touched)">{{validation.message}}
                      </mat-error>
                    </mat-error>
                  </mat-form-field>
                  <button color="primary" mat-raised-button class="button" type="submit" [disabled]="loginForm.invalid">Login to system</button>
                </form>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
</div>