<div class="container-fluid login-container">
  <div class="row">
    <div class="col-10 offset-1">
      <mat-card style="padding:0">
        <mat-card-content>
          <div class="row">
            <div class="col-12">
              <div class="centerAlign">
                <h2 style="margin: auto;" class="primary">Edit Category</h2>
                <form
                  class="input-form row"
                  [formGroup]="formData"
                  (ngSubmit)="update()"
                >
                  <div class="col-4">
                    <app-file-upload
                      *ngIf="formData && formData.get('id').value"
                      name="image_path"
                      (fileUpload)="setFile($event)"
                      path="assets/category/"
                      [filename]="formData.get('image_path').value"
                    ></app-file-upload>
                  </div>
                  <div class="col-8">
                    <mat-form-field class="input-full-width">
                      <input
                        matInput
                        placeholder="Name"
                        formControlName="name"
                      />
                      <mat-error *ngFor="let validation of error.name">
                        <mat-error
                          class="error-message"
                          *ngIf="
                            formData.get('name').hasError(validation.type) &&
                            (formData.get('name').dirty ||
                              formData.get('name').touched)
                          "
                          >{{ validation.message }}
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-full-width">
                      <input
                        matInput
                        placeholder="Description"
                        formControlName="description"
                      />
                    </mat-form-field>
                    <div
                      class="col-12"
                      style="display: flex;justify-content: space-around;"
                    >
                      <button
                        mat-raised-button
                        class="button"
                        type="button"
                        (click)="goToCategories()"
                      >
                        Cancel
                      </button>
                      <button
                        color="primary"
                        mat-raised-button
                        class="button"
                        type="submit"
                        [disabled]="formData.invalid"
                      >
                        Update Category
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
