
      <mat-card>
          <mat-card-content>
            <div class="row">
              <div class="col-sm-8">
                <mat-form-field class="example-full-width">
                  <mat-icon matPrefix>search</mat-icon>
                  <input matInput placeholder="Search" type="search" (keyup)="applyFilter($event.target.value)">
                </mat-form-field>
              </div>
              <div class="col-sm-2">
                <mat-form-field>
                  <mat-select [(value)]="selected" placeholder="Filters">
                    <mat-option value="option1">Active</mat-option>
                    <mat-option value="option2">Inactive</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-2">
                  <button mat-raised-button color="primary" [routerLink] = "[addNewUser]">
                    Add New User
                  </button>
              </div>
            </div>
            <div>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>
                  
                      <!-- Channel Id -->
                      <ng-container matColumnDef="LOGIN">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL </th>
                        <td mat-cell *matCellDef="let row"> 
                          <a routerLink="editUrl(row.id)t">{{row.email}}</a>
                           
                        </td>
                      </ng-container>
                  
                      <!-- Channel Name -->
                      <ng-container matColumnDef="NAME">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
                        <td mat-cell *matCellDef="let row"> {{row.first_name}} {{row.last_name}}</td>
                      </ng-container>
                      <ng-container matColumnDef="BRANCH">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> BRANCH </th>
                        <td mat-cell *matCellDef="let row"> {{getBranch(row.branch_id)}} </td>
                      </ng-container>
                      <ng-container matColumnDef="ROLE">
                        <th mat-header-cell *matHeaderCellDef> ROLE </th>
                        <td mat-cell *matCellDef="let row"> {{row.user_role}} </td>
                      </ng-container>
                      <ng-container matColumnDef="STATUS">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </th>
                        <td mat-cell *matCellDef="let row"> {{row.activated == "1" ? "Active":"Inactive"}} </td>
                      </ng-container>
                      <ng-container matColumnDef="ACTION">
                        <th mat-header-cell *matHeaderCellDef> ACTION </th>
                        <td mat-cell *matCellDef="let row"> 
                            <button mat-raised-button color="warn" (ngClick)="makeVisiable(row.activated)">{{row.activated?'Deactivate':'Activete'}}</button>
                        </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                      </tr>
                    </table>
                  
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  </div>
                  
            </div>
          </mat-card-content>
        </mat-card>
      
    