.primary{
	margin: 1em;
	text-align: center;
}
.content{
	color: #717171;
    font-size: 14px;
    line-height: 19px;
}
.table-content{
	margin: 1em;
}
.button-custom{
	align-items: center;
    justify-content: flex-end;
    width: 96%;
    margin: 1em;
}