<div class="container-fluid login-container">
  <div class="row">
    <div class="col-12">
      <mat-card style="padding:0">
        <mat-card-content>
          <div class="row" *ngIf="receiveList">
            <div class="col-12">
              <h3 class="primary">Receive / Return Order</h3>
						</div>
						<div class="col-12" *ngIf="receiveList.supplier">
							<h5>Supplier: {{receiveList.supplier.name}}</h5>
						</div>
						<div class="col-12">
							<div class="row">
									<div class="col-2">Items</div>
									<div class="col-2">Stock</div>
									<div class="col-2">Received</div>
									<div class="col-2">Returened</div>
									<div class="col-2">Receiving</div>
									<div class="col-2">Returening</div>
							</div>
							
						</div>
						<div class="col-12" *ngFor="let order of receiveList.purchase_details">
							<div class="row">
								<div class="col-2">{{order.item_id}}</div>
								<div class="col-2">{{order.stock}}</div>
								<!-- <div class="col-2">{{getReceivedItem(order.id),order.receivable}}</div>
								<div class="col-2">{{getReceurnedItem(order.id,order.returnable)}}</div> -->
								<div class="col-2">
									<input type="number" [(ngModel)]="order.received"/>
								</div>
								<div class="col-2">
										<input type="number" [(ngModel)]="order.return"/>
									</div>
							</div>
						</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>