<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <mat-form-field class="full-width">
        <input matInput placeholder="Branch" value="Branch Name" disabled>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <button mat-raised-button color="primary" style="margin-right:1rem">
        <mat-icon matTooltip="Edit the Branch">autorenew</mat-icon>
        Update
      </button>
      <button mat-raised-button [routerLink]="['/dashboard/settings/branch/1']">
        <mat-icon>undo</mat-icon>
        Back
      </button>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-sm-8">
      <nb-card>
        <nb-card-body class="custom-ul">
          <ul>
            <li>
              <div class="row justify-content-between">
                <div class="col-sm-12">
                  <span class="liheading">Basic</span>
                </div>
              </div>
            </li>
            <li class="" *ngFor="let list of lists">
              <div class="row justify-content-between">
                <div class="col-sm-2">
                  <span class="liheading">{{ list.name }}:</span>
                </div>
                <div class="col-sm-9">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="{{ list.name }}" value="Branch Name">
                      </mat-form-field>
                </div>
              </div>
            </li>
          </ul>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row justify-content-between">
      <div class="col-sm-8">
        <nb-card>
          <nb-card-body class="custom-ul">
            <ul>
              <li>
                <div class="row justify-content-between">
                  <div class="col-sm-12">
                    <span class="liheading">Basic</span>
                  </div>
                </div>
              </li>
              <li class="" *ngFor="let list of lists">
                <div class="row justify-content-between">
                  <div class="col-sm-2">
                    <span class="liheading">{{ list.name }}:</span>
                  </div>
                  <div class="col-sm-9">
                      <mat-form-field class="full-width">
                          <input matInput placeholder="{{ list.name }}" value="Branch Name">
                        </mat-form-field>
                  </div>
                </div>
              </li>
            </ul>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
</div>
