<div class="container-fluid font-family">
  <div class="row justify-content-between">
    <div class="col-sm-4">
      <span class="heading"> branch dashboard</span>
    </div>
    <div class="col-sm-3 e-align">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="today">
        <mat-button-toggle value="today" >Today</mat-button-toggle>
        <mat-button-toggle value="week">Week</mat-button-toggle>
        <mat-button-toggle value="month">Month</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="row">
    <div class="h-divider"></div>
  </div>
  <div class="row justify-content-between">
    <div class="col-sm-4">
      <nb-card>
        <nb-card-body>
          <div class="row justify-content-between">
            <div class="col-sm-12">
              <label class="record-lable">sales</label>
            </div>
            <div class="col-sm-6">
              <span class="heading">0</span>
            </div>
            <div class="col-sm-6">
              <span class="seconday">no data</span>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="row justify-content-between">
            <div class="col-sm-6">
              <div class="seconday">tax</div>
              <div class="seconday">0</div>
            </div>
            <div class="col-sm-6">
              <div class="seconday"> discount</div>
              <div class="seconday">0</div>
            </div>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
    <div class="col-sm-4">
      <nb-card>
        <nb-card-body>
          <div class="row justify-content-between">
            <div class="col-sm-12">
              <label class="record-lable">orders</label>
            </div>
            <div class="col-sm-6">
              <span class="heading">0</span>
            </div>
            <div class="col-sm-6">
              <span class="seconday">no data</span>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="row justify-content-between">
            <div class="col-sm-6">
              <div class="seconday">AVG VALUE</div>
              <div class="seconday">0</div>
            </div>
            <div class="col-sm-6">
              <div class="seconday">REFUNDS</div>
              <div class="seconday">0</div>
            </div>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
    <div class="col-sm-4">
      <nb-card>
        <nb-card-body>
          <div class="row justify-content-between">
            <div class="col-sm-12">
              <label class="record-lable">PURCHASE VALUE</label>
            </div>
            <div class="col-sm-6">
              <span class="heading">0</span>
            </div>
            <div class="col-sm-6">
              <span class="seconday">no data</span>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="row justify-content-between">
            <div class="col-sm-6">
              <div class="seconday">TRANSFERS</div>
              <div class="seconday">0</div>
            </div>
            <div class="col-sm-6">
              <div class="seconday">PURCHASES</div>
              <div class="seconday">0</div>
            </div>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-sm-4">
      <span class="heading"> payments
        <span class="seconday">-sales</span>
      </span>
    </div>
    <div class="col-sm-8 s-align">
      <span class="heading"> sales & stocks</span>
    </div>
  </div>
  <div class="row">
    <div class="h-divider"></div>
  </div>
  <div class="row justify-content-between">
    <div class="col-sm-4">
      <nb-card class="min-height">
        <nb-card-body>
          <div class="row justify-content-between">
            <div class="col-sm-12 c-align">
              <label class="seconday">0</label>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="row justify-content-between">
            <div class="col-sm-12 e-align">
              <div class="seconday">total: 0</div>
            </div>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
    <div class="col-sm-8">
      <nb-card>
        <nb-card-body>
          <div class="row justify-content-between">
            <div class="col-sm-12">
              <nb-tabset>
                <nb-tab tabTitle="PRODUCT - SALES">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef> ITEM NAME </th>
                          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                      
                        
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> PRODUCT CODE </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                      
                        
                        <ng-container matColumnDef="weight">
                          <th mat-header-cell *matHeaderCellDef> AVAILABLE QUANTITY </th>
                          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                </nb-tab>
                <nb-tab tabTitle="PRODUCT - DEPLETING STOCK">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef> ITEM NAME </th>
                          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> PRODUCT CODE </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="weight">
                          <th mat-header-cell *matHeaderCellDef> AVAILABLE QUANTITY </th>
                          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                </nb-tab>
              </nb-tabset>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
