<div class="container-fluid font-family">
  <div class="row justify-content-between">
    <div class="col-sm-4">
      <span class="heading"> Category</span>
    </div>
    <div class="col-sm-3 e-align">
      <button mat-raised-button color="primary" [routerLink]="['new']">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        Add Category
      </button>
    </div>
  </div>
</div>

<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-8">
        <mat-form-field class="example-full-width">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput placeholder="Search" type="search" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
      </div>
    </div>
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="NAME">
          <th mat-header-cell *matHeaderCellDef> NAME </th>
          <td mat-cell *matCellDef="let element">
            <a routerLink="{{element.category_id}}/edit">{{element.name}}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="IMAGE_PATH">
          <th mat-header-cell *matHeaderCellDef> IMAGE</th>
          <td mat-cell *matCellDef="let element">
            <img style="width: 34px;height: 34px;" *ngIf="path" [src]="(path+'/api/assets/category/'+element.category_id+element.image_path)"/>
          </td>
        </ng-container>
        <ng-container matColumnDef="ACTION">
            <th mat-header-cell *matHeaderCellDef> ACTION </th>
            <td mat-cell *matCellDef="let element"> 
                <mat-icon matPrefix color="warn" (click)="removeCategory(element.category_id,element.name)" class="action">delete</mat-icon>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
