.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .form-group{
    border: 1px solid #ccc;
    box-shadow: 1px 1px 6px 2px #b0b0b0;
    padding: 2em;
  }