<div class="container-fluid font-family">
  <div class="row justify-content-between">
    <div class="col-sm-4">
      <span class="heading"> Items</span>
    </div>
    <div class="col-sm-3 e-align">
      <button mat-raised-button color="primary" [routerLink]="['/dashboard/items/new']">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        New Item
      </button>
    </div>
  </div>
</div>

<mat-tab-group>
  <mat-tab label="ACTIVE">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="example-full-width">
              <mat-icon matPrefix>search</mat-icon>
              <input matInput placeholder="Search" type="search" (keyup)="applyFilter($event.target.value)">
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <mat-form-field>
              <mat-select [(value)]="selected" placeholder="Filters">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <mat-form-field>
              <mat-select [(value)]="selected" placeholder="Filters">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-2 e-align">
            <button mat-raised-button color="primary">
              <mat-icon class="example-tab-icon">arrow_downward</mat-icon>DOWNLOAD
            </button>
          </div>
        </div>
        <div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="NAME">
              <th mat-header-cell *matHeaderCellDef> Item Name </th>
              <td mat-cell *matCellDef="let element">
                <a routerLink="/dashboard/item/{{element.NAME}}">{{element.NAME}}</a>
              </td>
            </ng-container>

            <ng-container matColumnDef="PRICE">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> {{element.PRICE}} </td>
            </ng-container>
            <ng-container matColumnDef="UNIT">
              <th mat-header-cell *matHeaderCellDef> UNIT </th>
              <td mat-cell *matCellDef="let element"> {{element.UNIT}} </td>
            </ng-container>
            <ng-container matColumnDef="QUANTITY">
              <th mat-header-cell *matHeaderCellDef> QUANTITY </th>
              <td mat-cell *matCellDef="let element"> {{element.QUANTITY}} </td>
            </ng-container>
            <ng-container matColumnDef="AVALIBLEQ_P">
              <th mat-header-cell *matHeaderCellDef> AVALIBLEQ_P </th>
              <td mat-cell *matCellDef="let element"> {{element.AVALIBLEQ_P}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="INCTIVE">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="example-full-width">
              <mat-icon matPrefix>search</mat-icon>
              <input matInput placeholder="Search" type="search" (keyup)="applyFilter($event.target.value)">
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <mat-form-field>
              <mat-select [(value)]="selected" placeholder="Filters">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <mat-form-field>
              <mat-select [(value)]="selected" placeholder="Filters">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-2 e-align">
            <button mat-raised-button color="primary">
              <mat-icon class="example-tab-icon">arrow_downward</mat-icon>DOWNLOAD
            </button>
          </div>
        </div>
        <div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="NAME">
              <th mat-header-cell *matHeaderCellDef> Item Name </th>
              <td mat-cell *matCellDef="let element">
                <a routerLink="/dashboard/item/{{element.NAME}}">{{element.NAME}}</a>
              </td>
            </ng-container>
            <ng-container matColumnDef="PRICE">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> {{element.PRICE}} </td>
            </ng-container>
            <ng-container matColumnDef="UNIT">
              <th mat-header-cell *matHeaderCellDef> UNIT </th>
              <td mat-cell *matCellDef="let element"> {{element.UNIT}} </td>
            </ng-container>
            <ng-container matColumnDef="QUANTITY">
              <th mat-header-cell *matHeaderCellDef> QUANTITY </th>
              <td mat-cell *matCellDef="let element"> {{element.QUANTITY}} </td>
            </ng-container>
            <ng-container matColumnDef="AVALIBLEQ_P">
              <th mat-header-cell *matHeaderCellDef> AVALIBLEQ_P </th>
              <td mat-cell *matCellDef="let element"> {{element.AVALIBLEQ_P}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
